---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

const t = translations(Astro.url);
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
	<Container class="pt-16">
		<p>
			Welcome to BeatBlog, where we're passionate about everything related to music production. Here's a little bit about who we are and what drives us:

			As a freelance audio engineer, Scott Clayton founded BeatBlog to share his love for music production and provide a platform for anyone to advance their skills as a beatmaker.

			What You'll Find Here
				- In-Depth Tutorials:** Step-by-step guides to help you master music production.
				- Product Reviews:** Honest reviews of the latest VST plugins.
				- Inspiration and Insights:** Stories and experiences from my personal and professional experiences to inspire your journey.

			We love connecting with our community. If you have questions, suggestions, or just want to say hello, don't hesitate to reach out(mailto:your@email.com).

			Thank you for being part of the BeatBlog community. Let's make beats.
		</p>

	</Container>
</Layout>
