---
import { getLocale } from "astro-i18n-aut";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts";

const locale = getLocale(Astro.url);

type Props = {
	title?: string;
	description?: string;
	image?: string;
};

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props as Props;
---

<html lang={locale}>
	<head>
		<BaseHead title={title} description={description} image={image} />
		{/* Comment the line below if you want to remove client side routing */}
		<ViewTransitions />
                <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<meta name="google-adsense-account" content="ca-pub-3628256469323845" />
		<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4129462129900088" crossorigin="anonymous"></script>
                <!-- Google Tag Manager -->   
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-PBZK9L7L');</script>
		<!-- End Google Tag Manager -->
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBZK9L7L"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
